doctype html
html(lang="en")
	head
		title Mirror
		<!--STYLES-->
		link(rel="stylesheet", href="/styles/importer.css")
		<!--STYLES END-->
	body
		block body
		<!--TEMPLATES-->
		<!--TEMPLATES END-->

		<!--SCRIPTS-->
		script(src="/js/dependencies/sails.io.js")
		<!--SCRIPTS END-->
		script(src="//localhost:35729/livereload.js")